{% extends 'base.html' %}

{% block content %}
<h1>Bookings</h1>

<ul>
  {% for booking in bookings %}
  <li>
  <p>{{ booking.member.name }} - {{ booking.session.name }} - {{booking.session.day}}</p>
    <p>
      <form action="/bookings/{{ booking.id }}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  {% endfor %}
</ul>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/bookings/new">Add new booking</a>
</p>


{% endblock %}