{% extends 'base.html'%}

{% block content %}
<h1>Paws in the Park!</h1>

<p>A variety of classes to suit your and your pup's needs!</p>

<h2>What to expect at each session:</h2>
  <h3>Obedience</h3>
    <p>Classes aim to provide basic obedience for your dog including sit, lie down,stay, recall, and leave it.</p>

  <h3>Puppy</h3>
    <p>These classes are for puppies 1 year or under. They aim to provide socialisation and exercise in a safe environment by giving the opportunity for dogs to be around each other, off-lead, and learn body language, manners, and appropriate responses.</p>

  <h3>Agility</h3>
    <p>Our weekly classes cater for all abilities and are designed to take handler and dog from Foundations to Championship level.</p>

  <h3>Scent work</h3>
    <p>Our scentwork sessions are designed to develop our dogs natural scenting abilities by using their desire to hunt and their love of food and toys. Your dog will have great fun, build confidence and focus and burn physical and mental energy. This class is for hounds only.</p>

<h2>Reviews</h2>
<p>Charlie had a great time harnessing his natural ability at scent work.'</p>
<p>He was knackered at the end but had lots of fun!</p>
<p>Felt like the other owners were getting impatient waiting for my old girl Jess. Should do senior agility.</p>
<p>Cooper found it hard to focus with all the other dogs but it will be something to work on.</p>
<p>
  <ul>
    {% for booking in bookings %}
    <li>
    <p>{{ booking.member.name }} - {{ booking.session.name }} </p>
      <p>
        <form action="/bookings/{{ booking.id }}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="delete" />
        </form>
      </p>
    </li>
    {% endfor %}
  </ul>

{% endblock %}